PORT=8082
SPRING_PROFILES_ACTIVE=cloud
ORACLE_URL=jdbc:oracle:thin:@//oracle-host:1521/ORCLPDB1
ORACLE_USERNAME=PEDIDOS360_CATALOG
ORACLE_PASSWORD=REEMPLAZAR
ENTRA_ISSUER=https://login.microsoftonline.com/1feca74f-8331-414a-bd8d-2d687b22a7b3/v2.0
ENTRA_API_AUDIENCE=150f51db-4084-4979-b1a1-e6a6e7893a01
ORACLE_POOL_MAX_SIZE=20
ORACLE_POOL_MIN_IDLE=2
